header {
  height: 265px;
  position: fixed;
  width: 100%;
  z-index: 2;
  background: linear-gradient(180deg, rgba(10, 19, 1, 0.95) 15.5%, rgba(10, 19, 1, 0) 82.98%);
}

body {
  margin: 0;
  background: #FFFCF0;
}


@media (min-width: 768px) {
  .content {
    background-color: #706C4C;
    position: relative;
    padding-top: 6%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
  }
}


/* @media (max-width: 768px) {
  .content {
    background-color: #706C4C;
    width: 100%
  }
} */


.landingsection {
  position: relative;
  align-content: center;
  padding-left: 5%;
  padding-right: 5%;
  width: 60%;
}

.landingsection img {
  padding-left: 5%;
  padding-right: 5%;
  width: 100%;
}

.landingimg {
  width: 40%;
}

.landingtext {
  text-align: center;
  padding: 5%;
}

.logowhite {
  position: relative;
  z-index: 3;
}

@media (max-width: 768px) {
  /* landing section on mobile */
  .landingimg {
    display: none !important
  }
  .palmimg {
    display: none !important
  }

  .landingsection {
    height: 500px
  }
  .logowhite {
    padding-top: 10%;
    width: 100%;
  }
}


@media (min-width: 768px) {
  .palmoverlay {
    position: absolute;
    left: 286px;
    top: 300px;
    mix-blend-mode: color-burn;
    opacity: 0.10;
  }
  
  .circle {
    position: absolute;
    width: 400px;
    height: 400px;
    left: 700px;
    top: 600px;
    border: 1.9px dashed #F2B277;
    border-radius: 900px;
    z-index: 2;
  }
  
  .circle2 {
    position: absolute;
    width: 400px;
    height: 400px;
    left: -240px;
    top: 1440px;
    border: 1.9px dashed #F2B277;
    border-radius: 900px;
    z-index: 2;
  }

  .circle3 {
    position: absolute;
    width: 200px;
    height: 200px;
    left: 1150px;
    top: 2360px;
    border: 1.9px dashed #F2B277;
    border-radius: 900px;
    z-index: 2;
  }
}

@media (max-width: 768px) {
  .palmoverlay {
    /* position: absolute; */
    /* left: 286px; */
    /* top: 300px; */
    mix-blend-mode: color-burn;
    opacity: 0.10;
  }
  
  .circle {
    /* position: absolute; */
    width: 300px;
    height: 300px;
    /* left: 700px; */
    /* top: 600px; */
    border: 1.9px dashed #F2B277;
    border-radius: 900px;
    z-index: 2;
  }
  
  .circle2 {
    /* position: absolute; */
    /* width: 300px; */
    height: 300px;
    /* left: -240px; */
    /* top: 1440px; */
    border: 1.9px dashed #F2B277;
    border-radius: 900px;
    z-index: 2;
  }

  .circle3 {
    /* position: absolute; */
    width: 200px;
    height: 200px;
    /* left: 1150px; */
    /* top: 2360px; */
    border: 1.9px dashed #F2B277;
    border-radius: 900px;
    z-index: 2;
  }
}

@media (min-width: 768px) {
  .circle3 {
    width: 240px;
    height: 240px;
  }
}

a {
  font-family: Alegreya Sans;
  font-style: italic;
  font-weight: 300;
  font-size: 30px;
  color: #F2B277;
  text-decoration: none;
}

h2 {
  font-family: Alegreya Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  letter-spacing: 0.01em;
  color: #FFFDF5;
}

h1 {
  font-family: Josefin Sans;
  font-size: 47px;
}

.foodcontent {
  padding-bottom: 10%;
}

.foodtext {
  padding: 18% 10% 18% 10%;
  min-width: 300px
}

@media (max-width: 768px) {
  .foodcontent {
    width: 100%;
    /* position: relative; */
    /* box-sizing: border-box; */
    /* display: flex; */
  }
  .foodcontent img {
    width: 100%;
    height: auto
    /* position: relative; */
    /* box-sizing: border-box; */
    /* display: flex; */
  }
}

@media (min-width: 768px) {
  .foodcontent {
    position: relative;
    box-sizing: border-box;
    display: flex;
    padding: 15% 6% 15% 6%;
  }

  .foodtext {
  padding: 6% 2% 6% 10%;
  }
}

.eventscontent {
  position: relative;
  background: #706C4C;
  width: 100%;
}

.eventscontent img {
  width: 100%;
  height: auto
}

.eventtext {
  position: absolute;
  top: 30%;
  bottom: 20%;
  padding: 30px;
  text-align: center;
  min-width: 230px;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* max-width: 550px; */
}

/* .barshot {
  width
} */

.palmoverlay2 {
  position: absolute;
  top: 34%;
  left: 40%;
  mix-blend-mode: color-burn;
  opacity: 0.06;
  z-index: 2
}

.photocontainer {
  padding: 10% 0% 10% 0%;
  position: relative;
  display: flex;
}

@media (min-width: 768px) {
  .photo2 {
    padding-left: 10%;
    padding-top: 10%;
  }
}


@media (max-width: 768px) {
  .photocontainer {
    width: 100%;
    padding: 10% 0% 10% 0%;
    position: relative;
    display: flex;
  }
  .photo2 {
    margin-left: 5%;
    padding-top: 5%;
  }
}

.photo3 {
  position: absolute;
  padding-left: 5%;
  padding-top: 55%;
}

.brunchtext {
  position: absolute;
  padding-top: 75%;
  padding-left: 64%;
  padding-right: 6%;
  text-align: right;
}

.brunchtext h1 {
  font-size: 26px;
  line-height: 30px;
}

.brunchtext h2 {
  font-size: 20px;
}

@media (min-width: 768px) {
  .brunchtext h1 {
    font-size: 45px;
    line-height: 60px;
  }

  .brunchtext h2 {
    font-size: 26px;
  }

  .brunchtext {
    padding-right: 4%;
    padding-top: 74%;
  }
}



/* testing */

body {
  /* font-family: "Lato", sans-serif; */
  transition: background-color .5s;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .3s;
  /* padding: 16px; */
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.hamburgericon {
  position: relative;
  z-index: 2;
  transition: all 0.3s linear;
  color: white;
  padding: 10px;
  padding-left: 25px; 
}


/* transforming bar */

.container {
  position: relative;
  z-index: 2;
  display: inline-block;
  cursor: pointer;
  padding: 6px;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.3s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

/* .change .bar2 {opacity: 0;} */

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
/* } */